<img src="http://actionframework.io/rocket.png" style="height: 200px;"/>
<h1>WELCOME TO ACTIONFRAMEWORK</h1>
<p>This is the default welcome page, add a new route by:</p>
<pre style="text-align: left;margin: auto;width: 60%;">
	<code>
# In config/routes.rb
ActionFramework::Server.current.routes do 
	get "/" => "DefaultController#index" # This route
	get "/mynewroute" = "MyNewController#index" # Your new route!
end	
	</code>
</pre>