<html>
<head>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
	<script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<title>Welcome to ActionFramework</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">
	<style>
	body{
		background-color: black;
		color: white;
		font-family: 'Oswald', sans-serif;
	}
	p{
		font-size: 20px;
	}
	</style>
</head>
<body>
	<center>
		<%= yield %>
	</center>
</body>
</html>